.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.presentacion-CARD {
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  background-color: rgba(72, 220, 151, 0.362);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.presentacion-CARD>* {
  padding: 1rem;
}

.videoPlayer {
  margin-top: 1rem;
}

.presentacion {
  width: 30%;
  text-align: left;
}

.buttonProjects {
  margin-top: 1rem;
  background-color: rgba(23, 161, 235, 0.362);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  height: 3rem;
  cursor: pointer;
}